venv/
.venv/

__pycache__/
*.py[cod]

.env

.vscode/

.idea/

*.xlsx
*.xlsm

*.log

# Supabase
.branches
.temp

# dotenvx
.env.keys
.env.local
.env.*.local

.DS_Store
Thumbs.db

load test/
test.js
loadtest.js
k6_formulas_test.js

*.zip

summary.json

sizing_calculations/

